@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/flaticons/flaticon_shein.css";


/* h1,p,h2,h3,h4,h5,h6,div,span,a{
  color: black;
} */

.only-carousel  .slick-list{
  padding: 10px 0 10px !important;
}

/* . .slick-track{
  width: 100% !important;
} */



.spinner {
  position: relative;
  width: 15.7px;
  height: 15.7px;
}

.spinner div {
  animation: spinner-4t3wzl 1.5s infinite backwards;
  background-color: #000000;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.12s;
  background-color: rgba(0,0,0,0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.24s;
  background-color: rgba(0,0,0,0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.36000000000000004s;
  background-color: rgba(0,0,0,0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.48s;
  background-color: rgba(0,0,0,0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.6000000000000001s;
  background-color: rgba(0,0,0,0.5);
}

@keyframes spinner-4t3wzl {
  0% {
     transform: rotate(0deg) translateY(-200%);
  }

  60%, 100% {
     transform: rotate(360deg) translateY(-200%);
  }
}

.only-carousel {
  color:black !important;
}
.no-scroll {
  overflow: hidden;
}
.nav{
  border: 0.1px solid black;
  opacity: 0.5;
}
.border-line{
  padding: 0 !important;}
  
.slick-prev:before,.slick-next:before{
  color:black !important;
}
.rc-slider-track {
  position: absolute;
  height: 100%;
  border-radius: 6px;
  background-color:#000000 !important;
  opacity: 100% !important;
}
.rc-slider-handle{
  background-color:#000000 !important;
  border-color:#000000 !important;
  opacity: 100% !important;
  box-shadow: none !important;
}
.filter-border{
  border:0.2px solid #EEF0F5;
  /* opacity: 0.5; */
 
}

.search-container input[type="text"]::placeholder {
  font-size: 14px; /* Change this value to the desired font size */
  font-weight: lighter;
  color: #CCCCCC;
}
.container input[type="email"]::placeholder,
.container input[type="number"]::placeholder,
.container input[type="text"]::placeholder,
.container input[type="password"]::placeholder {
  font-size: 13px;
  font-weight: 600;
  color:  #434343;
}
.test{
  width: auto;
  min-height: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  border:1px solid #EB4897
}



.half-circle {
  width: 100%;
  height: 120%;
  border-radius: 100%;
  z-index: -1;

}
.second-half{
  border-radius: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 9px solid #BC2D72;
  border-top: 0;
}




.white-triangle{
  width: 50px;
  height: 50px;
  border:1px solid;
  padding: 5px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -25px;
  right: -26px;
  background-color: white;
 
  

}
.green-triangle{
  width: 100%;
  height: 100%;
}

.email-container input::placeholder{
font-size: 14px;
color: #999999;
font-weight: 600;
}
@media screen {
  
}

.abc .slick-track {
  width: 100% !important;
}
.coin-img{
  box-shadow: 0px 4px 110px 10px rgba(0, 0, 0, 0.4);
}
/* .abx{
  text-decoration-line: underline;
  text-decoration-thickness: 0.1px;
} */

.arrow-container{
  box-shadow: 0px 2px 4px 0px #0000002B;
}

.review-user{
  box-shadow: 0px 4px 4px 0px rgba(235, 72, 151, 0.33);
}