$flaticon_shein-font: "flaticon_shein";

@font-face {
    font-family: $flaticon_shein-font;
    src: url("./flaticon_shein.ttf?2e25d2e2a4d540f0f127c3ae692dc2f5") format("truetype"),
url("./flaticon_shein.woff?2e25d2e2a4d540f0f127c3ae692dc2f5") format("woff"),
url("./flaticon_shein.woff2?2e25d2e2a4d540f0f127c3ae692dc2f5") format("woff2"),
url("./flaticon_shein.eot?2e25d2e2a4d540f0f127c3ae692dc2f5#iefix") format("embedded-opentype"),
url("./flaticon_shein.svg?2e25d2e2a4d540f0f127c3ae692dc2f5#flaticon_shein") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_shein !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_shein-map: (
    "plus": "\f101",
    "camera": "\f102",
    "arrow-down": "\f103",
    "heart": "\f104",
    "contact": "\f105",
    "logout": "\f106",
    "close": "\f107",
    "youtube": "\f108",
    "location": "\f109",
    "plus-1": "\f10a",
    "twitter": "\f10b",
    "card": "\f10c",
    "arrow": "\f10d",
    "user-fill": "\f10e",
    "bag": "\f10f",
    "play": "\f110",
    "pinterest": "\f111",
    "minus": "\f112",
    "delivery-status-3": "\f113",
    "facebook": "\f114",
    "contact-1": "\f115",
    "left-arrow": "\f116",
    "star": "\f117",
    "chat": "\f118",
    "bag-fill": "\f119",
    "address": "\f11a",
    "instagram": "\f11b",
    "protection": "\f11c",
    "timing": "\f11d",
    "search": "\f11e",
    "share": "\f11f",
    "heart-fill": "\f120",
    "reload": "\f121",
    "measure": "\f122",
    "heart-1": "\f123",
    "express-delivery": "\f124",
);

.flaticon-plus:before {
    content: map-get($flaticon_shein-map, "plus");
}
.flaticon-camera:before {
    content: map-get($flaticon_shein-map, "camera");
}
.flaticon-arrow-down:before {
    content: map-get($flaticon_shein-map, "arrow-down");
}
.flaticon-heart:before {
    content: map-get($flaticon_shein-map, "heart");
}
.flaticon-contact:before {
    content: map-get($flaticon_shein-map, "contact");
}
.flaticon-logout:before {
    content: map-get($flaticon_shein-map, "logout");
}
.flaticon-close:before {
    content: map-get($flaticon_shein-map, "close");
}
.flaticon-youtube:before {
    content: map-get($flaticon_shein-map, "youtube");
}
.flaticon-location:before {
    content: map-get($flaticon_shein-map, "location");
}
.flaticon-plus-1:before {
    content: map-get($flaticon_shein-map, "plus-1");
}
.flaticon-twitter:before {
    content: map-get($flaticon_shein-map, "twitter");
}
.flaticon-card:before {
    content: map-get($flaticon_shein-map, "card");
}
.flaticon-arrow:before {
    content: map-get($flaticon_shein-map, "arrow");
}
.flaticon-user-fill:before {
    content: map-get($flaticon_shein-map, "user-fill");
}
.flaticon-bag:before {
    content: map-get($flaticon_shein-map, "bag");
}
.flaticon-play:before {
    content: map-get($flaticon_shein-map, "play");
}
.flaticon-pinterest:before {
    content: map-get($flaticon_shein-map, "pinterest");
}
.flaticon-minus:before {
    content: map-get($flaticon_shein-map, "minus");
}
.flaticon-delivery-status-3:before {
    content: map-get($flaticon_shein-map, "delivery-status-3");
}
.flaticon-facebook:before {
    content: map-get($flaticon_shein-map, "facebook");
}
.flaticon-contact-1:before {
    content: map-get($flaticon_shein-map, "contact-1");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_shein-map, "left-arrow");
}
.flaticon-star:before {
    content: map-get($flaticon_shein-map, "star");
}
.flaticon-chat:before {
    content: map-get($flaticon_shein-map, "chat");
}
.flaticon-bag-fill:before {
    content: map-get($flaticon_shein-map, "bag-fill");
}
.flaticon-address:before {
    content: map-get($flaticon_shein-map, "address");
}
.flaticon-instagram:before {
    content: map-get($flaticon_shein-map, "instagram");
}
.flaticon-protection:before {
    content: map-get($flaticon_shein-map, "protection");
}
.flaticon-timing:before {
    content: map-get($flaticon_shein-map, "timing");
}
.flaticon-search:before {
    content: map-get($flaticon_shein-map, "search");
}
.flaticon-share:before {
    content: map-get($flaticon_shein-map, "share");
}
.flaticon-heart-fill:before {
    content: map-get($flaticon_shein-map, "heart-fill");
}
.flaticon-reload:before {
    content: map-get($flaticon_shein-map, "reload");
}
.flaticon-measure:before {
    content: map-get($flaticon_shein-map, "measure");
}
.flaticon-heart-1:before {
    content: map-get($flaticon_shein-map, "heart-1");
}
.flaticon-express-delivery:before {
    content: map-get($flaticon_shein-map, "express-delivery");
}
